flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4043384d90437184",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor1/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d287dbf290b5bcda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 120,
        "wires": [
            [
                "c49f40f529cc695e",
                "5bb04fa96d459947"
            ]
        ]
    },
    {
        "id": "4d2739f4b450fa9c",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor2/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d287dbf290b5bcda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 300,
        "wires": [
            [
                "e13f1a59f203d06b",
                "f1003cb622b08d0b"
            ]
        ]
    },
    {
        "id": "7eb9145b259be639",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f86a003e4f1f077a",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "f45ab902e8e81874",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "f86a003e4f1f077a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "10f9a24d6586af88",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "63862d723f8e8157",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "1eeac8db0cfbe837",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "63862d723f8e8157",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "2d3eb2739b80d4e4",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor/error",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d287dbf290b5bcda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "0c019a9a3b33911a",
                "b5185620ef794011",
                "b80f44f85862f78d",
                "59f5a3e1d022dc2f"
            ]
        ]
    },
    {
        "id": "0c019a9a3b33911a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 560,
        "wires": []
    },
    {
        "id": "b5185620ef794011",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor 1 Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "cdbd1d59ef589908"
            ]
        ]
    },
    {
        "id": "cdbd1d59ef589908",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "4d4fd1d0c4a738bc"
            ]
        ]
    },
    {
        "id": "4d4fd1d0c4a738bc",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"ISU-PHY-LAB\" Sensor 1 Error!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 420,
        "wires": [
            [
                "e7e810452296fe51"
            ]
        ]
    },
    {
        "id": "b80f44f85862f78d",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Sensor 2 Error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 460,
        "wires": [
            [
                "98afe703b0d5da5f"
            ]
        ]
    },
    {
        "id": "98afe703b0d5da5f",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 460,
        "wires": [
            [
                "c7f421412ab95b8d"
            ]
        ]
    },
    {
        "id": "c7f421412ab95b8d",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"ISU-PHY-LAB\" Sensor 2 Error!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 460,
        "wires": [
            [
                "ca098f4e5dd7d347"
            ]
        ]
    },
    {
        "id": "59f5a3e1d022dc2f",
        "type": "switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Threshold Exceeded",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 500,
        "wires": [
            [
                "dcd37fda6a12bc46"
            ]
        ]
    },
    {
        "id": "dcd37fda6a12bc46",
        "type": "rbe",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 410,
        "y": 500,
        "wires": [
            [
                "78ee0104774d7e8f"
            ]
        ]
    },
    {
        "id": "78ee0104774d7e8f",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"ISU-PHY-LAB\" Threshold Exceeded!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "0757731219aaa7cf"
            ]
        ]
    },
    {
        "id": "5bb04fa96d459947",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "7eb9145b259be639",
                "f45ab902e8e81874"
            ]
        ]
    },
    {
        "id": "15ac87a1b178be7c",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ffa1713c471cc33d",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d345859b0852fe61",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "ffa1713c471cc33d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "c49f40f529cc695e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 160,
        "wires": [
            [
                "15ac87a1b178be7c",
                "d345859b0852fe61"
            ]
        ]
    },
    {
        "id": "e13f1a59f203d06b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 260,
        "wires": [
            [
                "10f9a24d6586af88",
                "1eeac8db0cfbe837"
            ]
        ]
    },
    {
        "id": "f1003cb622b08d0b",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 4",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 340,
        "wires": [
            [
                "d9ad6c5ff1714e11",
                "b50b835bfd85ca3b"
            ]
        ]
    },
    {
        "id": "d9ad6c5ff1714e11",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6d17ddf3503ffaec",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "b50b835bfd85ca3b",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "6d17ddf3503ffaec",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 360,
        "wires": []
    },
    {
        "id": "e7e810452296fe51",
        "type": "e-mail",
        "z": "f6f2187d.f17ca8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "tugrulgol@gmail.com",
        "dname": "email",
        "x": 770,
        "y": 420,
        "wires": []
    },
    {
        "id": "ca098f4e5dd7d347",
        "type": "e-mail",
        "z": "f6f2187d.f17ca8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "tugrulgol@gmail.com",
        "dname": "email",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "0757731219aaa7cf",
        "type": "e-mail",
        "z": "f6f2187d.f17ca8",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "tugrulgol@gmail.com",
        "dname": "email",
        "x": 770,
        "y": 500,
        "wires": []
    },
    {
        "id": "6e0eaa0421eed821",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "a02cac1c6f6feb61",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 60,
        "wires": [
            [
                "e727cb9cfd91bc2e"
            ]
        ]
    },
    {
        "id": "3fe97a71d81fb45c",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d287dbf290b5bcda",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "e727cb9cfd91bc2e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 5",
        "func": "if (msg.payload === true) {\n    msg.payload = \"start\";\n} else if (msg.payload === false) {\n    msg.payload = \"stop\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 60,
        "wires": [
            [
                "3fe97a71d81fb45c",
                "07b531578ca3a6de"
            ]
        ]
    },
    {
        "id": "07b531578ca3a6de",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b419441b3368373",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "12b59a3f9f6a380d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "6950de3082374363"
            ]
        ]
    },
    {
        "id": "a6df725bc03e811e",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor1/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d287dbf290b5bcda",
        "x": 980,
        "y": 180,
        "wires": []
    },
    {
        "id": "6950de3082374363",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 6",
        "func": "if (msg.payload === true) {\n    msg.payload = \"start\";\n} else if (msg.payload === false) {\n    msg.payload = \"stop\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 180,
        "wires": [
            [
                "a6df725bc03e811e",
                "793a1792954a4c5a"
            ]
        ]
    },
    {
        "id": "793a1792954a4c5a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "c5ed593ff0dc2b90",
        "type": "ui_switch",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "56364d14c18480a5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "8d2032cbe2e3fd1e"
            ]
        ]
    },
    {
        "id": "f36762469fc1720d",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "sensor2/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d287dbf290b5bcda",
        "x": 980,
        "y": 300,
        "wires": []
    },
    {
        "id": "8d2032cbe2e3fd1e",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 7",
        "func": "if (msg.payload === true) {\n    msg.payload = \"start\";\n} else if (msg.payload === false) {\n    msg.payload = \"stop\";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 300,
        "wires": [
            [
                "f36762469fc1720d",
                "33d7aa93d5d9f5b1"
            ]
        ]
    },
    {
        "id": "33d7aa93d5d9f5b1",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "d287dbf290b5bcda",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f86a003e4f1f077a",
        "type": "ui_group",
        "name": "sensor1/temperature",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63862d723f8e8157",
        "type": "ui_group",
        "name": "sensor2/temperature",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ffa1713c471cc33d",
        "type": "ui_group",
        "name": "sensor1/humidity",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6d17ddf3503ffaec",
        "type": "ui_group",
        "name": "sensor2/humidity",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a02cac1c6f6feb61",
        "type": "ui_group",
        "name": "Data Collection Start / Stop",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12b59a3f9f6a380d",
        "type": "ui_group",
        "name": "sensor1/control",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "56364d14c18480a5",
        "type": "ui_group",
        "name": "sensor2/control",
        "tab": "e8f6b6e4f8d8c06b",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e8f6b6e4f8d8c06b",
        "type": "ui_tab",
        "name": "ISU-PHY-LAB",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]